<div id="cookie-banner">
    <div class="cookie-icon">🍪</div>
    <div class="cookie-fineprint">
      <span class="cookie-fineprint__strong">This website uses cookies only for analytics purpose. Checkout <a href="{{ site.url/privacy }}">privacy page</a> for more details.</span>
    </div>
    <div id="close">
      <svg class="close-icon" viewBox="0 0 24 24" style="height: 2rem; width: auto;">
        <path d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z"></path>
      </svg>
    </div>
</div>
